.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-or-register {
  display: flex;
  height: 100vh !important;
  background-image: url("./assets/login.png");
  background-size: 100%;
  background-repeat: no-repeat;
  webkit-background-size: 100% 100%; /* Safari 3.0 */
  -moz-background-size: 100% 100%; /* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: 100% 100%; /* Opera 9.5 */
  background-size: 100% 100%;
  -moz-border-image: url("./assets/login.png") 0;
}

.card-auth {
  width: 50%;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlace-link {
  display: flex;
  justify-content: space-between;
}

.button-login {
  background: #fff;
  color: #262c3a;
  width: 100%;
  border: 1px solid #262c3a;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

.button-login:hover {
  font-size: 16px;
  background: #262c3a;
  color: #fff;
}

.button-login:focus {
  font-size: 16px;
  background: #262c3a;
  color: #fff;
}

.ant-card-head {
  text-align: center !important;
  border: none !important;
  font-size: 20px !important;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.spin-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.info-character {
  display: flex;
}

.info-characters {
  margin-right: 10px;
  display: grid;
}

.center-text {
  text-align: center;
}

.grid-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #004a87;
  /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec971f;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ec971f;
}

.btn-menus {
  background-color: #e6f7ff !important;
  border-right: 3px solid #1890ff;

}

.btn-menu {
  background-color: #fff !important;
  border: none !important;
  color: #000 !important;

}

.ant-menu-inline .ant-menu-item::after {
  border: none !important;
}

.wizard {
  height: 100%;
  width: 100%;

  overflow: hidden;

  grid-template-rows: 1fr 35px;
  grid-template-areas:
    "content"
    "buttons";
}

.wizard__buttons {
  grid-area: buttons;
  grid-template-areas: "left right";
  justify-content: space-between;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.wizard__buttons-left {
  grid-area: left;
  float: left;
}

.wizard__buttons-right {
  grid-area: right;
  float: right;
}
